body{
    padding: 0;
    margin: 0;
    height:100vh;
    justify-self: center;
    align-items: center;
    background-color: #FFFFFF;
}

.container {
    justify-content: center;
    align-items: center;
    height: 100vh;
}

header{
    height: 100px;
    background-color: #c9f1d5;
}

.brand-logo img {
    margin-top: 40px;
    width: 80px;
    height: 50px;
    margin-left: 50px;
}

.brand-tagline{
    margin-left: 140px;
    margin-top: -20px;
    font-style: italic;
    color: #4A383D;
}

form {
    display: flex;
    align-items: center;
    margin-left: 600px;
    margin-top: -40px;
}

input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
}

button[type="submit"] {
    background-color: #4f7a5c;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #518478;
}

#refresh-container {
    position: relative;
    width: 40px;
    height: 40px;
    background-color: #4f7a5c;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-left: 950px;
    margin-top: -45px;
}

#refresh-button {
    color: white;
    border: none;
    background: none;
    font-size: 24px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

#refresh-container:hover{
    transform: rotate(90deg);
    background-color: #518478;
}

.view-switcher button {
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.grid-view {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.list-view {
    display: none;
}

.list-view .list-item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ddd; /* Add a border between list items */
    padding: 10px;
}

.list-view .list-item .item-text {
    flex-grow: 1;
    margin-left: 10px;
}

.list-view .list-item .item-icon {
    width: 24px;
    height: 24px;
    color: #333;
}

.menu-toggle {
    margin-top: -50px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding: 10px;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #4A383D;
    margin: 3px 0;
    transition: 0.4s;
}

.menu {
    display: none;
}

ul.menu {
    text-align: left;
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.menu li {
    list-style: disc;
    margin: 10px 0;
}

ul.menu li a {
    text-decoration: none;
}

.menu.active {
    display: block;
}

.section{
    margin: o;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider{
    width: 800px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
}

.slide{
    width: 500%;
    height: 500px;
    display: flex;
}

.slide input{
    display: none;
}

.st{
    width: 20%;
    transition: 2s;
}

.st img{
    width: 800px;
    height: 500px;
}

.nav-m{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.m-btn{
    border: 2px solid #4A383D;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.m-btn:not(:last-child){
    margin-right: 30px;
}

.m-btn:hover{
    background-color: #4A383D;
}

.radio1:checked ~.first{
    margin-left: 0;
}

.radio2:checked ~.first{
    margin-left: -20%;
}

.radio3:checked ~.first{
    margin-left: -40%;
}

.radio4:checked ~.first{
    margin-left: -60%;
}

.radio5:checked ~.first{
    margin-left: -80;
}

.nav-auto{
    position: absolute;
    width: 800px;
    margin-top: 460px;
    display: flex;
    justify-content: center;
}

.nav-auto div{
    border: 2px solid #4A383D;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.nav-auto div:not(:last-child){
    margin-right: 30px;
    justify-content: center;
}

#radio1:checked ~ .nav-auto .a-b1{
    background-color: #4A383D;
}

#radio2:checked ~ .nav-auto .a-b2{
    background-color: #4A383D;
}

#radio3:checked ~ .nav-auto .a-b3{
    background-color: #4A383D;
}

#radio4:checked ~ .nav-auto .a-b4{
    background-color: #4A383D;
}

#radio5:checked ~ .nav-auto .a-b5{
    background-color: #4A383D;
}

a{
    margin-left: 900PX;
    text-decoration: none;
    font-size: 20px;
    color: #4A383D;
    padding: 4px;
}
footer{
    background-color: #c9f1d5;
}

p{
    margin-left: 500px;
    padding: 10px;
}